DEPLOYMENT=dev
DEBUG=on
SECRET_KEY=your-secret-key
REDIS_URL=redis://localhost:6379/0

TWITTER_CLIENT_KEY=ndNcaNIC2khQ1POIgI8tEcjV3
TWITTER_CLIENT_SECRET=4va9RZN3hwcjkxheeo9RD81cEM3chsFgOjy0JNUyywSzZBgZYy
TWITTER_ACCESS_TOKEN=126066848-jO7C7UceSt60WEY0YSb3UKUCQWSN5VJBnxeic3ib
TWITTER_ACCESS_TOKEN_SECRET=5OWKf1yXqrEJSvrsGmqRmlx6CrusJmNwKmpv5Hyoo1Jua

# LOCAL
DATABASE_URL=psql://invtask@localhost:5433/invtask

# DOCKER
# DATABASE_URL=psql://postgres@db:5432/postgres
