redis: redis-server
pg: postgres -D tmp/postgres -p 5433
worker: celery worker -A invtask.celery --loglevel=info --logfile=worker.log -B
web: python manage.py runserver_plus
# web: gunicorn invtask.wsgi
